.u-center-text {text-align: center;}
.u-margin-bottom-big{
    margin-bottom: 8rem;
    @include respon(tablet-por) {
        margin-bottom: 5.5rem;
    }
}
.u-margin-bottom-medium{
    margin-bottom: 3.8rem;
    @include respon(tablet-por) {
        margin-bottom: 2.5rem;
    }
    @include respon(phone) {
        margin-bottom: 1.5rem;
    }
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem;
    @include respon(phone) {
        margin-bottom: 0.5rem;
    }
}

.u-margin-top-medium{
    margin-top: 3.8rem;
    @include respon(tablet-por) {
        margin-top: 2.5rem;
    }
}
.u-margin-top-small{
    margin-top: 2rem;
    
}
.u-margin-left-medium{margin-left: 5rem;}